receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:

  debug:
#    verbosity: detailed
    verbosity: normal
  # Data sources: metrics
  prometheus:
    endpoint: 0.0.0.0:8889
    namespace: default

  # Data sources: traces
#  zipkin:
#    endpoint: http://zipkin.example.com:9411/api/v2/spans

  # Data sources: traces
  otlp/jaeger:
    endpoint: jaeger:4317
    tls:
      insecure: true

 # this name has to be otlp , predefined ,changing it to tempo will not work
  otlp:
    endpoint: tempo:4317
    tls:
      insecure: true
extensions:
  health_check:
    endpoint: 0.0.0.0:13133
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679

service:
  extensions: [health_check, pprof, zpages]
  pipelines:
    traces:
      receivers: [otlp]
#  This logs trace in otlp collector as well
      exporters: [debug, otlp/jaeger , otlp]
#      exporters: [otlp/jaeger]
    metrics:
      receivers: [otlp]
      exporters: [prometheus]
#    logs:
#      receivers: [otlp]
#      exporters: [otlp]