otlp-url: http://localhost:4318

otel:
  logs:
    exporter: none


spring:
  application:
    name: cart-service

server:
  port: 8080

catalog-service-base-url: http://localhost:8090

management:
  tracing:
    sampling:
      probability: 1.0   # 原型环境先全量采样

  otlp:
    tracing:
      endpoint: ${otlp-url}/v1/traces

    metrics:
      export:
        url: ${otlp-url}/v1/metrics


