

services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    environment:
 #     POSTGRES_DB: demo_db          # 自己改
      POSTGRES_USER: demo_user      # 自己改
      POSTGRES_PASSWORD: demo_pass  # 自己改，别用默认到生产
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  jaeger:
    image: jaegertracing/all-in-one:1.75.0
    container_name: jaeger
    restart: always
    ports:
      # UI
      - "16686:16686"
      # OTLP gRPC（给 OpenTelemetry SDK / Spring Boot Otel 用）
      - "4317:4317"
      # OTLP HTTP（如果你用 HTTP exporter）
      - "4318:4318"
      # 传统 Jaeger 协议/Agent 端口（按需开启）
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "14268:14268"
      - "14250:14250"
    environment:
      COLLECTOR_OTLP_ENABLED: "true"

      # 如果你只想用 OTLP，可以不用改其他配置


  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"


  otel-collector:
    image: otel/opentelemetry-collector
    ports:
      - 1888:1888 # pprof extension
      - 8888:8888 # Prometheus metrics exposed by the Collector
      - 8889:8889 # Prometheus exporter metrics
      - 13133:13133 # health_check extension
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
      - 55679:55679 # zpages extension

volumes:
  pg_data: