

services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    environment:
 #     POSTGRES_DB: demo_db          # 自己改
      POSTGRES_USER: demo_user      # 自己改
      POSTGRES_PASSWORD: demo_pass  # 自己改，别用默认到生产
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  jaeger:
    image: jaegertracing/jaeger
    #image: jaegertracing/all-in-one
    container_name: jaeger
    restart: always
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
    ports:
    - "16686:16686"   # UI


  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./docker/prometheus/config.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"


  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"


  otel-collector:
    image: otel/opentelemetry-collector
    container_name: otel-collector
    ports:
      - 1888:1888 # pprof extension
      - 8888:8888 # Prometheus metrics exposed by the Collector
      - 8889:8889 # Prometheus exporter metrics
      - 13133:13133 # health_check extension
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
      - 55679:55679 # zpages extension
    volumes:
      - ./docker/otel/config.yml:/etc/otel/otel_config.yml:ro
    command:
      - "--config=/etc/otel/otel_config.yml"


volumes:
  pg_data: