otlp-server-url: http://otel-collector:4318

otel:
  logs:
    exporter: none


server:
  port: 8080

management:

  endpoints:
    web:
      exposure:
        include: "*"

  metrics:
    tags:
      app_name : ${spring.application.name}
    enabled: true
    distribution:
      percentiles:
        com.springland365.tracing: 0.99, 0.95 , 0.9, 0.5

  tracing:
    sampling:
      probability: 1.0   # 原型环境先全量采样
  otlp:
    tracing:
      endpoint: ${otlp-server-url}/v1/traces
      enabled: false
    metrics:
      export:
        url: ${otlp-server-url}/v1/metrics







spring:
  application:
    name: product-service
  liquibase:
    change-log: /changelog/changelog-master.yml
#    enabled: false
  datasource:
    url: jdbc:postgresql://postgres:5432/postgres
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 30000
      max-lifetime: 1800000
      pool-name: HikariPool
      schema: product
      connection-init-sql: >
        create schema if not exists product;
        set search_path to product;
        

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc.lob.non_contextual_creation: true
        format_sql: true

    open-in-view: false       # recommended for microservices

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE   # show SQL parameters